body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: silver;
  font-weight: bold;
  text-decoration: underline;
}
.nwe p {
  border: 2px dotted navy;
  margin: 10px;
  padding: 10px;
  color: black;
} 