.headerend button {
    display: inline-block;
    color: #fff;
    fill: currentColor;
    background-color: #3cb46e;
    height: 30px;
    width: 80px;
    border: #3cb46e;
    border-radius: 5px;

}

.searly {
  height: 38px;
  border-radius: 24px;
  width: 700px;
  background-color: #eee;
  font-size: 14px;
  border: 1px solid transparent;
}

.searly input {
  border: none;
  background-color: #eee;
  font-size: 15px;
  width: 300px;
}

.ulli ul li{
  list-style-type: none;
}

.leftstart {
  float: left;
  height: 40px;
}

.spano {
  display: inline-block;
  position: relative;
  bottom: 25px;
}

.spanp {
  display: inline-block;
  position: relative;
  left: 42px;
  bottom: 25px;
}

body { 
  background-color: white;
  font-family: Helvetica Helvetica,Arial,sans-serif;
  margin:           0px;
  overflow-x: hidden;
}

.spano a {
  font-weight: 800;
}

.searly {
  display: inline-block;
  position: relative;
  left: 60px;
  bottom: 45px;
}

.searly img {
  position: relative;
  top: 11px;
  left: 10px;
}

.searly input {
  position: relative;
  left: 13px;
  top: 7px;
}

.rightend ul li{
  display: inline-block;
}

.rightend {
  position: relative;
  left: 900px;
  bottom: 90px;
}

.ulli ul li{
  margin-right: 20px;
  font-size: 15px;
  color: gray;
}

.anniu button{
  background: white;
  color: gray;
  border: 1px solid transparent;
  border-color: gray;
  border-radius: 5px;
  height: 30px;
  width: 130px;
  position: relative;
  left: 250px;
  bottom: 38px;
  margin-left: 30px;
}

.headerend {
  position: relative;
  bottom: 65px;
  left: 450px;
}

.headerend a {
  font-size: 15px;
  margin-right: 10px;
  color: gray;
}

.headerend button {
  margin-left: 50px;
}

.kaitou {
  margin: 15px;
  height: 70px;
}

header {
  height: 75px;
}

.daohang table tr th {
  font-weight: 250;
  padding-right: 31px;
  color: grey;
  font-size: 14.5px;
}

.unmimg{
  width: 100%
}

.black {
  padding-left: 15px;
}

.daohang {
  padding-bottom: 15px;
}

.xxxx {
  position: relative;
  bottom: 500px;
  left: 20%;
  
}

.xxx {
  color: white;
  font-size: 46px;
  line-height: 1.2
}

.xxxx span {
  display: block;
  color: white;
  position: relative;
  bottom: 15px;
}

.searu input{
  border: none;
  background-color: #eee;
  font-size: 15px;
  width: 600px;
  position: relative;
  top: 12px;
}

.searu {
  height: 50px;
  border-radius: 24px;
  width: 800px;
  background-color: #eee;
  font-size: 14px;
  border-radius: 10px;
}

.searu img{
  position: relative;
  top: 15px;
  margin-left: 10px;
}

.aer {
  color: white;
  position: relative;
  top: 40px;
}

.ends {
  position: relative;
  top: 280px;
  right:295px;
}

.ends a {
  color: white;
}

.endss {
  position: relative;
  top: 265px;
  left: 320px;
}

.endsx {
  color: gray;
}

.endsxs {
  color:gray;
}

.ssx {
  position: relative;
  top: 248px;
  left: 960px;
  color: gray;
}

.first,.second,.thirst {
  display: inline-block;
  margin: 10px;
}

.imgss img {
  width: 400px;
  margin-bottom: 20px;
}

.first img {
  display: block;
  position: relative;
  bottom: 395px;
}

.second img {
  display: block;
  position: relative;
  bottom: 360px;
}

.thirst img {
  display: block;
}

.imgss {
  text-align: center;
  position: relative;
  bottom: 150px;
}

.dongtai button {
  border-radius: 5px;
  border:none
}

.collect {
  font-size: 15px;
  color: gray;
  position: relative;
  bottom: 5px;
}

